@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Roboto&display=swap');

/* Styles for the document */
body { 
    max-width: 100%;
    font-size: 100%;
    background-color: #ab947e;
}

/* Styles for header */
.nav img {
    width: 85%;
    padding: 0px 10px;
}

.nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #252f26;
    overflow-x: hidden;
    padding-top: 20px;
}

.nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ab947e;
    display: block;
}

.nav a:hover, a:focus {
    color: white;
    background-color: #870202;
}

/* Styles for the main area */
main {
    margin-left: 160px;
    padding: 0px 10px;
}

.h_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(39, 3fr);
}

.h_h1 {
    grid-column: 1/4;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
    z-index: 1;
    color: #252f26;
    font-family: Chonburi;
    font-size: 3vw;
}

.h_pic1 {
    grid-column: 1/4;
    grid-row: 4/13;
    justify-self: center;
    max-width: 100%;
    height: auto;
}

#h_para {
    grid-column: 1/4;
    grid-row: 14/25;
    font-family: Roboto, sans-serif;
    font-size: 2vw;
    align-self: center;
}

.h_pic2 {
    grid-column: 1/4;
    grid-row: 26/38;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    height: auto;
}

/* Basic page styles */
.b_h1 {
    width: 50%;
    margin: 0 Auto;
    z-index: 1;
    color: #252f26;
    font-family: Chonburi;
    font-size: 3vw;
}

.b_para1, .b_para2, .b_para3, .b_para4, .b_para5 {
    font-family: Roboto, sans-serif;
    font-size: 2vw;
    align-self: center;
}

#b_s1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

#b_s2, #b_s3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr)
}

.def {
    grid-column: 1/2;
    grid-row: 1/4;
    font-family: sans-serif;
    font-size: 1.2vw;
    color:#870202;
}

.b_para1 {
    grid-column: 2/4;
    grid-row: 1/4;
    padding-left: 20px;
}

.b_para2 {
    grid-column: 1/3;
    grid-row: 1/2;
    padding-right: 20px;
}

.b_img1 {
    grid-column: 3/4;
    grid-row: 1/2;
    max-width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
    padding-top: 2px;
}

.b_img2 {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 100%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.b_para3 {
    grid-column: 2/4;
    grid-row: 2/3;
    padding-left: 60px;
}

.b_h3 {
   width: 50%;
   margin: 0 Auto;
   z-index: 1;
   color: #252f26;
   font-family: Chonburi;
   font-size: 3vw;
   padding-top: 30px;
}

.b_para4 {
    grid-column: 1/3;
    grid-row: 1/2;
    padding-right: 20px;
    padding-top: 30px;
}

.b_img3 {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-top: 30px;
    max-width: 100%;
    height: auto;
}

.b_img4 {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
    max-width: 100%;
    height: auto;
}

.b_para5 {
    grid-column: 2/4;
    grid-row: 2/3; 
    padding-left: 40px;
}

/* Style for Mitigation Page */
.m_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, .5fr);
}

.m_h1 {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 1;
    justify-self: center;
    color: #252f26;
    font-family: Chonburi;
    font-size: 3vw;
}

.m_para1, .m_para2, .m_para3, .m_para4, .m_para5 {
    font-family: Roboto, sans-serif;
    font-size: 2vw;
}

.m_para1 {
    grid-column: 1/4;
    grid-row: 2/3;
}

.m_img1 {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center; 
}

.m_para2 {
    grid-column: 2/4;
    grid-row: 3/4;
    padding-left: 35px;
    align-self: center;
}

.m_img1, .m_para2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.m_para3 {
    grid-column: 1/3;
    grid-row: 4/5;
    padding-right: 35px;
}

.m_img2 {
    grid-column: 3/4;
    grid-row: 4/5;
}

.m_img3 {
    grid-column: 1/2;
    grid-row: 5/6;
    justify-self: center;
}

.m_para4 {
    grid-column: 2/4;
    grid-row: 5/6;
    padding-left: 35px;
    align-self: flex-start;
}

.m_para5 {
    grid-column: 1/4;
}

.m_img3, .m_para4 {
    padding-top: 30px;
}

.m_img1, .m_img2, .m_img3 {
    max-width: 100%;
    height: auto;
}

/* Style for the footer area */
footer {
    margin-left: 160px;
    padding: 0px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr
}

.social {
    grid-column: 1/2;
    grid-row: 3/4;
}

footer p {
    grid-column: 3/4;
    grid-row: 3/4;
}

footer p:first-child {
    justify-self: right;
}